body {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
}

#hero-section{
    color:#fff;
    background-image: url(../img/bg_hero.jpg);
    background-size: cover;
    background-repeat: none;
    padding-top: 10rem;
}

#experiencia h2{
    font-weight: 700;
}
#experiencia h3{
    font-weight: 300;
}

#experiencia img{
    max-height: 20%;
}
#experiencia{
    max-height: 50%;
    padding-bottom: 0px;
}
.modal-dialog {
    height: auto;
  }

  .modal-content {
    height: inherit;
    border: 0;
    border-radius: 0;
  }
.modal-body{
    height: auto;
}
  #modal-form{
    height: 1150px;
    width: 100%;
  }