body {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
}

#hero-section{
    color:#fff;
    background-image: url(../img/bg_hero.jpg);
    background-size: cover;
    background-repeat: none;
    padding-top: 10rem;
}



.modal-dialog {
    height: 100%;
  }

  .modal-content {
    height: inherit;
    border: 0;
    border-radius: 0;
  }

  .modal-body iframe{
    height: 1150px;
    width: 100%;
  }